* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.20) 17.31%, rgba(0, 0, 0, 0.00) 88.5%), url(./img/bg2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  animation: gradient-scroll 46s linear infinite;
}
body::-webkit-scrollbar {
  width: 0em;
}


.title-name {
  color: #5d7030;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* text-shadow: 2px 2px 5px #252d13,
  -2px -2px 5px #95b34d; */
  cursor: default;
  transition: ease 0.7s;
}

.desc {
  color: #5d7030;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* text-shadow: 2px 2px 5px #252d13,
  -2px -2px 5px #95b34d; */
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
  cursor: default;
  transition: ease 0.7s;

}

.desc:hover{
  color: #84b800;
  text-shadow: rgb(255, 255, 255) 1px 2px 2px;

}

.title-name:hover{
  text-shadow: rgb(255, 255, 255) 1px 2px 2px;

}

/* .logo{
  background-image: url(./img/logo.png);
  background-repeat: no-repeat;
  border-radius: 25px;
width: 100px;
height: 100px;
} */

#root {
  padding-top: 30px;
  height: 120vh;
  width: 45%;
}

form {
  display: inline-flex;
  align-items: flex-start;
  width: 100%;
  gap: 21px;
  margin: 21px 0;
}

.search {
  border: none;
  border-radius: 25px;
  width: 100%;
  padding: 13px 22px;
transition: ease 0.7s;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
font-weight: bold;
color: #404d21;
}

.search:hover{
  animation: blink 2s ease 0s 1 normal forwards;
}
@keyframes blink {
	0%,
	50%,
	100% {
		background-color: #ffffff;
	}

	25%,
	75% {
		background-color: #edffc0;
	}
}

input[type="text"] {
  background-image: url(./img/image\ 1.png);
  background-position: left 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 40px;
  background-color: rgb(255, 255, 255);

}

input[type="text"]:focus{
  outline: none;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px #54652b;

}

input[type="checkbox"] {
  appearance: none;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: white solid 1px;
  cursor: pointer;
  transition: ease 0.7s;

}

input[type="checkbox"]:checked {
  background-color: #54652b;
  border: #404d21 solid 1px;
  transition: ease 0.5ms;
}

/* กำหนดรูปแบบให้กับ checkbox ที่ไม่กด */
input[type="checkbox"]:not(:checked) {
  padding: 8px;
  content: url(./img/eye.png);
  background: linear-gradient(145deg, #ffffff, #dddddd);
  box-shadow: 3px 3px 7px #d0d0d0,
    -3px -3px 7px #ffffff;
}

/* กำหนดรูปแบบให้กับ checkbox ที่กด */
input[type="checkbox"]:checked {
  padding: 8px;
  content: url(./img/crossed-eye.png);
  border: #404d21 solid 1px;
  transition: ease 0.7s;
  background-image: linear-gradient(145deg, #54652b, #647833);
  box-shadow: 3px 3px 7px #4f5f29, -3px -3px 7px #6b8137;
}

input[type="checkbox"]:checked:hover{
  box-shadow: 3px 3px 7px #ffffff,
    -3px -3px 7px #ffffff;
}

input[type="checkbox"]:hover{
  box-shadow: 3px 3px 7px #4f5f29, -3px -3px 7px #6b8137;
}

.icon{
  width: 45px;
  height: 45px;
}

@keyframes gradient-scroll {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}

table{
  cursor: default;
  width: 100%;
  background-color: white;
  padding: 14px;
  border-radius: 25px;
  border: white solid 1px;
  color: #5d7030;
  box-shadow: 3px 3px 7px #d0d0d0,
  -3px -3px 7px #ffffff;
    font-size: 24px;
  
}

th{
  background-color: #5d7030;
color: #edffc0;
border-radius: 25px;
font-weight: 900;
}
tr{
  border-bottom: solid 1.78px  #5d7030;
  transition: ease 0.7s;
}
td{
  border-radius: 25px;
}

tr:hover{
  background-color: #8ea35d;
  color: #404d21;
}

@media (max-width: 902px) {
  * {
    font-size: 16px;
  }
  #root{
    width: 60%;
  }
  .icon{
    width: 24px;
    height: 24px;
  }
}
